.blog-section__media,.case-section__media{display:grid;gap:clamp(1.5rem,5vw,5rem);align-items:center}.blog-section__media--left,.blog-section__media--right,.case-section__media--left,.case-section__media--right{grid-template-columns:minmax(0,1fr) minmax(0,1fr)}.blog-section__media--right>:first-child,.case-section__media--right>:first-child{order:2}.blog-section__media--center,.case-section__media--center{grid-template-columns:1fr}.blog-section__media img,.case-section__media img{width:100%;height:auto}.blog-section__button{display:flex}.blog-section__button--center{justify-content:center}.blog-section__button--right{justify-content:flex-end}@media(width <= 900px){.blog-section__media--left,.blog-section__media--right,.case-section__media--left,.case-section__media--right{grid-template-columns:1fr}.blog-section__media--right>:first-child,.case-section__media--right>:first-child{order:0}}
